/* estilos.css */

/* Estilo para o cabeçalho e navegação */
header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f8f8f8;
    position: relative;
    z-index: 1000; 
}

.logo {
    margin-right: 20px; /* Espaço entre o logotipo e os itens de navegação */
}

.logo img {
    width: 200px; 
    height: auto;
}

#menu {
    display: flex;
    align-items: center;
    position: relative; 
}

ul#Table {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    background-color: transparent; 
    width: 100%;
}

ul#Table li {
    display: inline-block;
    padding: 20px;
    background-color: transparent; 
}

ul#Table a {
    display: inline-block;
    padding: 3px 40px 3px 22px;
    text-decoration: none;
    color: #ffffff;
    background: rgb(1, 145, 63) url("imagens/Circulo\ laranja.png") no-repeat 3px 50%;
    border-right: 1px solid #FFF;
}

ul#Table a:hover {
    color: #000;
    background-color: #69c;
}

/* Estilos do menu para telas menores */
@media only screen and (max-width: 800px) {
    ul#Table {
        flex-direction: column;
    }
    ul#Table li {
        display: block;
        padding: 10px;
        background-color: #f4f4f4;
    }
}

/* Background */
body {
    font-size: 18pt;
}

/* Tabela */
thead {
    font-weight: bold;
}

td {
    text-align: center;
    vertical-align: middle;
}

.aligator1 {
    width: 100%; 
    height: auto;
    object-fit: cover;
    object-position: left center;
}