
thead {
    font-weight: bold;
}

body {
    background-color: rgb(255, 255, 255);
    font-size: 18pt;
}

/* Estilos para o menu */
.menu {
    list-style-type: none;
    padding: 0;
}

.menu li {
    display: inline-block;
    padding: 20px; 
    background-color: transparent; 
}

/* Estilos do menu para telas menores */
@media only screen and (max-width: 800px) {
    .menu li {
        display: block;
        padding: 10px; 
        background-color: #f4f4f4;
    }
}

/* Definições do menu principal */
ul#Table
{
    margin-left: 0;
    padding-left: 0;
    background-color: rgb(0, 128, 15);
    display: inline-block;
    width: 100%;
}
ul#Home  li{
    display: inline;
}
ul#Table a{
    display: inline-block;
    padding: 3px 40px 3px 22px;
    text-decoration: none;
    color: #ffffff;
    background: rgb(1, 145, 63) url("imagens/Circulo\ laranja.png") no-repeat 3px 50%;
    border-right: 1px solid #FFF;
}


#menu {top: 0; position: fixed;}

ul#Home a:hover
{
    color: #000;
    background-color: #69c;
}
